@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";
*{font-family: Arial, Helvetica, sans-serif;}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

.sidebar {
    float: left;
    width: 100px;
    margin-left: -100px;
    height: 100%;
    background-color: #2c3e50;
    overflow: hidden;
    transition: 0.8s all;
}

.side {
    margin-left: 0;
}

/*靠边*/

.sidebar ul {
    margin: 0;
    padding: 0;
}

/*去点*/

.sidebar ul li {
    list-style: none;
}

/*去下划线*/

.sidebar ul li a {
    text-decoration: none;
    color: white;
    height: 80px;
    width: 100%;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    display: block;
    transition: 0.6s all;
}

.sidebar ul li a:hover {
    background: #95a5a6;
}

.sidebar a {
    cursor: pointer;
}

.btn {
    float: left;
    padding: 0 10px;
    font-size: 30px;
    /* 侧边栏x的大小 */
    text-decoration: none;
    color: #2c3e50;
    font-family: Ionicons;
    cursor: pointer;
}

.btn:before {
    content: '\f20d';
}

.btnc:before {
    content: '\f12a';
}

hr {
    background: #fff;
    border-top: 2px #8c8b8b dashed;
}

.page {
    width: 80%;
    border: 1px solid rgba(200, 200, 200, .8);
    background: rgba(254, 254, 254, .6);
    box-shadow: 0px 0 3px 3px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    max-width: 800px;
    padding: 0px 20px;
}

.annotate {
    font-size: x-small;
}

a:link{
    color: black;
    text-decoration:none;
}

a:visited{
    color: black;
    text-decoration:none;
}

a:hover{
    color: black;
    background-color: greenyellow;
}
        
p::selection{
    background-color: yellow;
}

.ColorGray{
    color: gray;
}